@media (min-width: 0px) {
  #reld .item > .circle-hold {
    filter: invert(1);
  }
  .ml9 {
    filter: invert(1);
  }
  #main-footer {
    filter: invert(1);
    color: #a7a7a7;
  }
  #particles-js {
    filter: invert(1);
    background-image: radial-gradient(#000000, #4141415e);
  }
  .button {
    filter: invert(1);
  }
  .button span {
    display: none;
  }
  .button:after {
    content: "Switch to dark mode";
  }
  html,
  body {
    background-color: #ffffff00;
  }
  .loader {
    background-image: radial-gradient(#000000, #414141);
    filter: invert(1);
  }
}
