.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: radial-gradient(#252525, #030303);
  z-index: 100;

  font-family: "ZCOOL KuaiLe", cursive;
  font-size: 40px;
  color: #29c2aa;

  animation: fade 8s ease;
}

/* .loader > span {
    display: inline-block;
    background-color: #29c2aa;
    width: 0px;
    height: 0px;
    border-radius: 50%;
    margin: 0 8px;
    transform: translate3d(0);
    animation: bounce 0.5s infinite alternate 0.1s;
  }
  
  .loader > span:nth-child(1) {
    animation-delay: 0.2s;
  }
  
  .loader > span:nth-child(2) {
    background-color: #1b8070;
    animation-delay: 0.3s;
  }
  
  .loader > span:nth-child(3) {
    animation-delay: 0.4s;
  }
  
  @keyframes bounce {
    to {
      width: 16px;
      height: 16px;
      transform: translate3d(0, -16px, 0);
    }
  }  */
@keyframes fade {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.loader::after {
  content: "\2026";
  display: inline-block;
  overflow: hidden;
  animation: dots steps(4, end) 2s infinite;
  width: 0px;
}

@keyframes dots {
  to {
    width: 1.1em;
  }
}
