@import url("https://fonts.googleapis.com/css?family=Lato|ZCOOL+KuaiLe|Roboto:700,400,300,100|Montserrat:400,700"); /* ---- reset ---- */

html,
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: #030303;
  font-size: 18px;
  font-weight: 300;
  max-width: 100%;
  height: 100%;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  width: 0px;
  display: none;
}

canvas {
  display: block;
  /* vertical-align: bottom; */
}
#main-footer {
  position: fixed;
  /* width : 100%; */
  bottom: 0em;
  right: 1em;
  text-align: center;
  padding: 1px;
  font-size: small;
  font-family: Tahoma, Verdana;
  text-decoration: none;
  color: #757575;
}
#main-footer :hover {
  color: #c0c0c0;
}
/* ---- particles.js container ---- */

#particles-js {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-image: radial-gradient(#252525, #030303);
  color: #08fdd8;
  /* ________HoverEffect________________ */
  /* background: url('..//images/background.jpg') no-repeat center center;  */
  /* transform: scale(1.1); 
    background-size: cover; */

  /* ____________ParallaxEffect_____________ */
  /* 
    background-image: url(https://raw.githubusercontent.com/oscicen/oscicen.github.io/master/img/depth-3.png), 
                      url(https://raw.githubusercontent.com/oscicen/oscicen.github.io/master/img/depth-2.png),
                      url(https://raw.githubusercontent.com/oscicen/oscicen.github.io/master/img/depth-1.png);;
    background-position: center;
    background-position: 50% 50%;
    background-repeat: no-repeat; */
}

#main {
  height: 100%;
  width: 100%;
  display: none;
}

a:active,
a:focus {
  text-decoration: none;
}
.ml9 {
  position: center;
  font-weight: 220;
  font-size: 4em;
  visibility: hidden;
  transition: 0.5s;
  /* text-shadow: 0 3px 0 darkcyan, 0px 3px 5px rgba(0,0,0,0.5); */
}

.ml9 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.05em;
  padding-right: 0.05em;
  padding-left: 0.05;
  padding-bottom: 0.07em;
  overflow: hidden;
  font-weight: 250;
}

.ml9 .letter {
  position: relative;
  transform-origin: 50% 100%;
  visibility: visible;
  display: inline-block;
  line-height: 1em;
  text-shadow: 0 1px 0 #1b8070, 0px 3px 3px rgba(0, 0, 0, 0.8);
  top: 0;
  /* transition: 0.1s ease-in-out; */
}

.ml9 .letter:hover {
  text-shadow: 0 1px 0 #29c2aa, 0 2px 0 #29c2aa, 0 3px 0 #23a691,
    0 4px 0 #1c8574, 0 5px 0 #196e60, 0 6px 0 #134d43, 0 7px 0 #0c2b26,
    0px 10px 10px rgba(0, 0, 0, 0.8);
  top: -5px;
}
.ml9 .letter:active {
  text-shadow: none;
  top: 0;
  text-shadow: 0px 0px 7px rgba(0, 0, 0, 0.5) !important;
}

a {
  color: #cdcdcd;
  text-decoration: none;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

a.thumbnail.active,
a.thumbnail:focus,
a.thumbnail:hover {
  border-color: #cdcdcd;
}

a:focus,
a:hover {
  color: #fff;
  text-decoration: none;
}

.section-title {
  text-align: center;
}

.section-title h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 48px;
  font-weight: 400;
  color: #fff;
  margin: 0;
  line-height: 0.8;
}

.section-divider {
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 30px;
  width: 60px;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.15);
}

.section-title-nocap {
  margin-bottom: 0;
}

.heading-1 {
  font-family: "Montserrat", sans-serif;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  border-bottom: 1px solid #424242;
  padding-bottom: 4px;
  display: inline-block;
  margin: 0;
}

.heading-2 {
  font-family: "Montserrat", sans-serif;
  color: #fff;
  font-weight: 700;
  text-transform: lowercase;
  border-bottom: 1px dotted #666;
  padding-bottom: 4px;
  display: inline-block;
  margin: 0;
}

.heading-3 {
  font-family: "Montserrat", sans-serif;
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 13px;
  margin-top: 6px;
}

.heading-3-icon {
  color: #fff;
  font-size: 26px;
}

.img-responsive {
  width: 100%;
}

.big-logo {
  font-size: 80px;
}

.big-logo img {
  transition: transform 0.3s, filter 0.5s ease-in-out;
  filter: grayscale(15%);
}
.big-logo:hover img {
  filter: grayscale(0);
  transform: scale(1.2);
}
.big-logo:active img {
  transition: transform 0.2s;
  transform: scale(0.8);
}

img {
  border-radius: 5%;
  animation: fadein 1s ease-in-out;
}

@keyframes bounce {
  0% {
    -webkit-transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(20deg);
  }
  65% {
    -webkit-transform: rotate(-20deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
  }
}
/* .background1 { background-color: #212121; }
.background2 { background-color: #1d1d1d; }
.background3 { background-color: #3a3a3a; } */

/* =Margin + Padding
-------------------------------------------------------------- */
.pt10 {
  padding-top: 10px !important;
}
.pt15 {
  padding-top: 15px !important;
}
.pt20 {
  padding-top: 20px !important;
}
.pt30 {
  padding-top: 30px !important;
}
.pt40 {
  padding-top: 40px !important;
}
.pt50 {
  padding-top: 50px !important;
}
.pt60 {
  padding-top: 60px !important;
}
.pt80 {
  padding-top: 80px !important;
}
.pt90 {
  padding-top: 90px !important;
}
.pt100 {
  padding-top: 100px !important;
}
.pb0 {
  padding-bottom: 0px !important;
}
.pb5 {
  padding-bottom: 5px !important;
}
.pb10 {
  padding-bottom: 10px !important;
}
.pb15 {
  padding-bottom: 15px !important;
}
.pb20 {
  padding-bottom: 20px !important;
}
.pb30 {
  padding-bottom: 30px !important;
}
.pb40 {
  padding-bottom: 40px !important;
}
.pb50 {
  padding-bottom: 50px !important;
}
.pb60 {
  padding-bottom: 60px !important;
}
.pb80 {
  padding-bottom: 80px !important;
}
.pb90 {
  padding-bottom: 90px !important;
}
.pb100 {
  padding-bottom: 100px !important;
}

.mt10 {
  margin-top: 10px !important;
}
.mt15 {
  margin-top: 15px !important;
}
.mt20 {
  margin-top: 20px !important;
}
.mt30 {
  margin-top: 30px !important;
}
.mt40 {
  margin-top: 40px !important;
}
.mt50 {
  margin-top: 50px !important;
}
.mt60 {
  margin-top: 60px !important;
}
.mt80 {
  margin-top: 80px !important;
}
.mt90 {
  margin-top: 90px !important;
}
.mt100 {
  margin-top: 100px !important;
}
.mb0 {
  margin-bottom: 0 !important;
}
.mb5 {
  margin-bottom: 5px !important;
}
.mb10 {
  margin-bottom: 10px !important;
}
.mb15 {
  margin-bottom: 15px !important;
}
.mb20 {
  margin-bottom: 20px !important;
}
.mb30 {
  margin-bottom: 30px !important;
}
.mb40 {
  margin-bottom: 40px !important;
}
.mb50 {
  margin-bottom: 50px !important;
}
.mb60 {
  margin-bottom: 60px !important;
}
.mb80 {
  margin-bottom: 80px !important;
}
.mb90 {
  margin-bottom: 90px !important;
}
.mb100 {
  margin-bottom: 100px !important;
}

.ml30 {
  margin-left: 30px;
}
.mr30 {
  margin-right: 30px;
}
.ml15 {
  margin-left: 15px;
}
.mr15 {
  margin-right: 15px;
}
.pl30 {
  padding-left: 30px;
}
.pr30 {
  padding-right: 30px;
}
.pl15 {
  padding-left: 15px;
}
.pr15 {
  padding-right: 15px;
}

.no-margin {
  margin: 0 !important;
}
.no-padding {
  padding: 0 !important;
}
.no-margin-top {
  margin-top: 0 !important;
}
.no-padding-top {
  padding-top: 0 !important;
}
.no-margin-bottom {
  margin-bottom: 0 !important;
}
.no-padding-bottom {
  padding-bottom: 0 !important;
}

.section-padding {
  padding-top: 80px;
  padding-bottom: 100px;
}

.section-padding-top {
  padding-top: 80px;
}

.footer-padding {
  padding-top: 60px;
  padding-bottom: 60px;
}

/* =Typography
-------------------------------------------------------------- */
.text-switch {
  color: #fff;
}

.text-small {
  font-size: 16px;
}

.text-xs-small {
  font-size: 13px;
}

.h4,
.h5,
.h6,
h4,
h5,
h6 {
  margin: 0;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  /* font-family: monospace ; */
  font-weight: 100;
  font-size: 50px;
  margin-top: 75px;
  color: #ffffff;
}

.lead {
  font-size: 23px;
}

.lead strong {
  color: #fff;
}

.blink_me {
  animation: blinker 0.5s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

/* =Thumbnails
-------------------------------------------------------------- */
.thumbnail {
  padding: 13px;
  background-color: transparent;
  border-radius: 0;
}

.thumbnail .caption {
  color: #a2a2a2;
  padding: 5px;
}

/* =Animate Examples
-------------------------------------------------------------- */
.animate-example-box {
  width: 100%;
  height: 50px;
  border-radius: 45px;
}

/* .animate-color-1 { background-color:#3498db; }
.animate-color-2 { background-color:#3498db; }
.animate-color-3 { background-color:#2ecc71; }
.animate-color-4 { background-color:#f39c12; }
.animate-color-5 { background-color:#FF3B30; }
.animate-color-6 { background-color:#1abc9c; }
.animate-color-7 { background-color:#F2784B; }
.animate-color-8 { background-color:#65C6BB; }
.animate-color-9 { background-color:#F64747; } */

/* =Jumbotron Main
-------------------------------------------------------------- */

.center-vertically {
  display: table-cell;
  vertical-align: bottom;
  height: 100%;
}

.center-vertically-holder {
  display: table;
  height: 50%;
}

.scroll-indicator {
  padding-top: 6px;
  display: inline-block;
  width: 50px;
}

.arrow-scroll-indicator {
  font-size: 10px;
  color: rgba(255, 255, 255, 0.6);
}

.parallax-window {
  background: transparent;
}

#reld .item > .circle-hold {
  position: relative;
  margin: 0 auto;
  padding: 0%;
  margin-bottom: 20px;
  width: 80px;
  height: 80px;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 30%;
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  transition: all 300ms;
  animation: fadein2 1s ease-in-out;
}

#reld .item:hover {
  animation: bounce 0.6s linear;
}

#reld .item > .circle-hold:hover {
  cursor: hand;
  -webkit-transform: scale(1.4);
  -moz-transform: scale(1.4);
  transform: scale(1.4);
}

#reld .item:active {
  -webkit-transform: scale(0.7);
  -moz-transform: scale(0.7);
  transform: scale(0.7);
}

@keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}

#reld .item > .circle-hold > i {
  color: #34eb3a;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60px;
  height: 60px;
  line-height: 60px;
  margin-top: -30px;
  margin-left: -30px;
  font-size: 40px;
  color: #ffffff;
  text-align: center;
}

/* =Footer
-------------------------------------------------------------- */
.theme-title {
  font-family: "Montserrat", sans-serif;
  color: #fff;
  font-size: 24px;
  text-transform: uppercase;
  margin-bottom: 15px;
  margin-top: 10px;
}

.theme-title-smaller {
  font-size: 16px;
}

footer hr {
  margin-top: 45px;
  margin-bottom: 0;
  border: 0;
  border-top: 1px solid #353535;
}

.btn-up-footer {
  display: inline-block;
  position: relative;
  top: -21px;
}

.social-icons-dark-hover {
  color: #fff;
  -webkit-transition: color 500ms;
  -moz-transition: color 500ms;
  -o-transition: color 500ms;
  transition: color 500ms;
}

.social-icons-dark-hover:hover {
  color: rgba(255, 255, 255, 0.7);
}

/* =Media Queries
-------------------------------------------------------------- */
@media (max-width: 767px) {
  .text-center-xs {
    text-align: center;
  }
  .ml9 {
    font-size: 3em;
  }
  .mt10-xs {
    margin-top: 10px;
  }
  .mt20-xs {
    margin-top: 20px;
  }
  .mt30-xs {
    margin-top: 30px;
  }
  .mt40-xs {
    margin-top: 40px;
  }
  .mb10-xs {
    margin-bottom: 10px;
  }
  .mb20-xs {
    margin-bottom: 20px;
  }
  .mb30-xs {
    margin-bottom: 30px;
  }
  .mb40-xs {
    margin-bottom: 40px;
  }
  .section-padding {
    padding-top: 50px;
  }
  .section-padding-top {
    padding-top: 50px;
  }
  .section-title h2 {
    font-size: 34px;
  }
  .big-logo {
    font-size: 50px;
  }
  .jumbotron.jumbotron-register {
    height: initial;
  }
  .jumbotron.jumbotron-register h1 {
    font-size: 40px;
  }
}

@media (min-width: 1024px) and (max-width: 1366px) {
  #reld .item > .circle-hold {
    width: 100px;
    height: 100px;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .text-center-sm {
    text-align: center;
  }
  .ml9 {
    font-size: 3em;
  }
  .mt10-sm {
    margin-top: 10px;
  }
  .mb10-sm {
    margin-bottom: 10px;
  }
  .mt20-sm {
    margin-top: 20px;
  }
  .mb20-sm {
    margin-bottom: 20px;
  }
  .mt30-sm {
    margin-top: 30px;
  }
  .mb30-sm {
    margin-bottom: 30px;
  }
  .jumbotron.jumbotron-register h1 {
    font-size: 45px;
  }
}

@keyframes fadein {
  0% {
    opacity: 0%;
    transform: translateY(-30px);
  }
  90% {
    opacity: 100%;
    transform: translateY(0);
  }
}

@keyframes fadein2 {
  0% {
    opacity: 0%;
    transform: translateY(30px);
  }
  90% {
    opacity: 100%;
    transform: translateY(0);
  }
}

/* LIGHT MODE */

#theme-toggle {
  position: fixed;
  top: 0.3em;
  right: 0.3em;
}

.button {
  background: #cacaca;
  font-family: "Roboto", sans-serif;
  opacity: 0;
  border: none;
  color: #252525;
  padding: 8px;
  text-align: center;
  text-decoration: none;
  display: none;
  font-size: 14px;
  margin: 2px 2px;
  cursor: pointer;
}

button:focus {
  outline: 0;
}

/* @media (prefers-color-scheme: light) {
    #reld .item > .circle-hold {filter: invert(1) ;}
    .ml9 {filter: invert(1) ;}
    #main-footer {filter: invert(1) ;color: #252525; }
    #particles-js { background-image: radial-gradient(#e0e0e0, #4d4d4d); }
} */
