body{
    margin: 0;
    padding: 0;
    font-family:'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
    background: #262626;
}
ul{
    margin: 0;
    padding: 0;
    display: flex;
}
ul li{
    list-style: none;
    color: rgb(112, 231, 96);
    font-size: 5em;
    letter-spacing:8px;
    filter: blur(0px);
    transition:1s;
}
ul li:hover,
ul li:hover ~ li
{
    transform: rotate(180deg) translate(-200px);
    transition: 1s;
    filter: blur(20px);
    opacity: 0;
    cursor: pointer;   
}